$orange-color:#f9b200;
$gradient-color:linear-gradient(to right, #f9b200 0%, #ff9900 100%) ;
$green-color:#004d40;
$font-color:#cdc7be;
$max-width:1200px;
$btn-radius:8px;
$card-radius:20px;
$def-margin:120px;